R software	Version 4.2.3
Package: themis	Version: 1.0.3
Package: recipes	Version: 1.2.0
Package: survminer	Version: 0.5.0
Package: ggpubr	Version: 0.6.0
Package: survival	Version: 3.7-0
Package: ranger	Version: 0.17.0
Package: e1071	Version: 1.7-16
Package: caret	Version: 7.0-1
Package: lattice	Version: 0.22-6
Package: pROC	Version: 1.18.5
Package: lubridate	Version: 1.9.4
Package: forcats	Version: 1.0.0
Package: stringr	Version: 1.5.1
Package: purrr	Version: 1.0.2
Package: readr	Version: 2.1.5
Package: tidyr	Version: 1.3.1
Package: tibble	Version: 3.2.1
Package: tidyverse	Version: 2.0.0
Package: dplyr	Version: 1.1.4
Package: ggplot2	Version: 3.5.1
